/* CSS declarations go here */

body {
    /*border: 0px;*/
    /*padding: 0px;*/
    /*margin: 0px;*/
    /*height: 100%;*/
    /*width: 100%;*/
    background-color: #baa378;
}

.title {
    text-align: center
}

.rowsplitter {
    /*margin-left: -20px;*/
    /**zoom: 1;*/
    /*margin-top: 30px;*/
}

.offence {
    /*width: 800px;*/
}

.shading-1 {
    background-color: #deb887;
}

.shading-2 {
    background-color: #B67721;
}

.btn-severity-2 {
    background-color: hsl(36, 81%, 59%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7deb9", endColorstr="#eba741");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f7deb9), to(#eba741));
    background-image: -moz-linear-gradient(top, #f7deb9, #eba741);
    background-image: -ms-linear-gradient(top, #f7deb9, #eba741);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7deb9), color-stop(100%, #eba741));
    background-image: -webkit-linear-gradient(top, #f7deb9, #eba741);
    background-image: -o-linear-gradient(top, #f7deb9, #eba741);
    background-image: linear-gradient(#f7deb9, #eba741);
    border-color: #eba741 #eba741 hsl(36, 81%, 52.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
    -webkit-font-smoothing: antialiased;
}


.shading-3 {
    background-color: #7F5417;
}


.shading-4 {
    background-color: #593E1A;
}

.shading-5 {
    background-color: #453823;
}
